* { 
	background-color: #e6faff;


}


h1 {
	color: #00b8e6;
    font-family: 'Delius Unicase', cursive;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 60px;
    font-size: 55px;
    }
  
    
}


.goal {
	background-color: #fbfbfb;
	padding-top: 10px;
	padding-bottom: 10px;
	border: #def8ff dashed ;
}
h3 {
	font-family: 'Arima Madurai', cursive;
	text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 55px;


}

.food { 
        padding-top: 50px;
        padding-bottom: 100px;

}

ul {
	font-family: 'Arima Madurai', cursive;
	text-align: center;
	padding-bottom: 30px;
}
 
@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}


